@import "bootstrap-sprockets";
@import "bootstrap";

// Globals
  a:-webkit-any-link { text-decoration: none; }
  
.jumbotron {
  background-image: url('salad.jpeg');
  height: 759px;
  background-repeat: no-repeat;
  background-size: 100%;
}
